
body{
  font-family:ubuntu;
}

/** Flex Style **/
.row {
    display: flex;
    max-height: 100vh;
  }
  
.left {
    flex: 60%;
  }

.right {
      flex:40%;
      overflow: hidden;
  }

  @media screen and (max-width: 600px) {
    .right {
      display: none;
    }
  }


/** Vertical Align **/

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }



/** Typography Styles **/ 

h1 {
    font-family: ubuntu;
    font-weight: 700;
    font-size: 3em;;
}

.readmore {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  display: block;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

.pbig {
    font-family: ubuntu;
    font-weight: 500;
    font-size: 1.2em;
}

.text-danger {
  color: #FF0000;
}


/** Button Styles **/

.btn-danger {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 1em;
    font-family: ubuntu;
    padding: 10px 40px;
    border-color: none;
}

.btn-danger:hover {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 1em;
    font-family: ubuntu;
    padding: 10px 40px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.15));
    border-color: none;
}

.btn-outline-danger {
    background-color: #ffffff;
    color: #ff0000;
    font-size: 1em;
    font-family: ubuntu;
    padding: 10px 40px;
    border-color: #ff0000;
}

.btn-outline-danger:hover {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 1em;
    font-family: ubuntu;
    padding: 10px 40px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.15));
    border-color: none;
}

/** Wizard Styles **/

  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #ff0000;
  }


/** Footer with Matric Numbers **/

/* div.fixed {
    position: fixed;
    width: 100%;
    bottom: 10px;
  }  */

